name: Build Zip CI

on:
  push:
    branches: [ 'main' ]
  pull_request: 
    branches: [ 'main' ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies for build (Apt)
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install libarchive-tools
    - name: Build Zip x64
      shell: bash
      env:
        ARCH: 'x64'
        OUT_ZIP: 'Alpine.zip'
      run: make -e
    - name: Build Zip ARM64
      shell: bash
      env:
        ARCH: 'arm64'
        OUT_ZIP: 'Alpine_arm64.zip'
      run: make -e
    - name: Upload a Build Artifact x64
      uses: actions/upload-artifact@v4
      with:
        name: Alpine.zip
        path: ./Alpine.zip
    - name: Upload a Build Artifact ARM64
      uses: actions/upload-artifact@v4
      with:
        name: Alpine_arm64.zip
        path: ./Alpine_arm64.zip
