name: Release Zip CI

permissions:
  contents: write

on:
  push:
    tags:
      - "*.*.*"

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies for build (Apt)
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install libarchive-tools
    - name: Build Zip x64
      shell: bash
      env:
        ARCH: 'x64'
        OUT_ZIP: 'Alpine.zip'
      run: |
        cd src_x64
        make -j$(nproc) -e
        sha512sum Alpine.zip > Alpine.zip.sha512
        mv Alpine.zip* ../
    - name: Build Zip ARM64
      shell: bash
      env:
        ARCH: 'arm64'
        OUT_ZIP: 'Alpine_arm64.zip'
      run: |
        cd src_arm64
        make -j$(nproc) -e
        sha512sum Alpine_arm64.zip > Alpine_arm64.zip.sha512
        mv Alpine_arm64.zip* ../
    - name: Create release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          Alpine.zip*
          Alpine_arm64.zip*
